/* Write your CSS here */
.app-bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-color: #ffffff;
}

.login-home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 350px;
  width: 400px;
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  border-radius: 12px;
}
